.movie-container{
    display: flex;
    background-color: black;
    height: 100vh;
    padding-top: 5rem;
}

.poster-image{
    height: 25rem;
    width: 20rem;
    margin: 1rem 2rem;
}

.detail-container{
    color: white;
    text-align: left;
    padding: 0 2rem;
}

.close-btn{
    width: 100%;
    padding: 0.75rem 1.5rem;
    background-color:#072f47;
    outline: none;
    margin-top: 0.5rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.close-btn:hover{
    background-color: #0d4263;
}

.like-btn{
    padding: 0.75rem 1.5rem;
    background-color:#072f47;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.like-btn:hover {
    background-color: #0d4263;
}